<div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
    <div id="bottom">
    <mat-checkbox routerLink="/home" *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">Devoir rendu</mat-checkbox>
    <button mat-flat-button color="primary" (click)="onClickEdit()">Edit</button>
    <mat-checkbox  [checked]="check" routerLink="/home" (click)="supprimerRendu()">Supprimer Rendu</mat-checkbox>
  </div>
  </mat-card>
</div>
